<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
    <title>html-jd解析</title>
    <link rel = "stylesheet" href="http://cdn.amazeui.org/amazeui/2.4.0/css/amazeui.min.css">
    <link rel = "icon" href="head.ico" >

    <script>
        function get_result(){
            document.getElementById("res_hint").innerHTML='<div class="am-form-label am-active">'+'正在生成结果，请稍等...'+'</div>';
            return true
        }
    </script>
</head>
<body>
    <div class="am-topbar">
        <h1 class="am-active">   在线演示</h1>
    </div>
    <div class="am-g">
        <div class="am-u-sm-8 am-u-sm-centered">
            <div class="am-intro-left am-active" style="height:180px">
                <label ><em>使用说明</em></label>
                <p class="am-serif">输入拉钩，智联，51job的职业url，再点击提交，可获得jd解析结果。</p>
                <p><a href="http://www.lagou.com/" title="jd解析" target="_blank">lagou拉勾</a> |
                   <a href="http://jobs.51job.com/" title="jd解析" target="_blank">51job</a> |
                   <a href="http://sou.zhaopin.com/jobs/searchresult.ashx" target="_blank" title="jd解析">智联招聘</a> | 
                   <a href="http://www.liepin.com/zhaopin/" target="_blank" title="jd解析" target="_blank">猎聘网</a></p>
                <p> <a href="http://192.168.1.91:8087/" title="cv解析" target="_blank">简历解析</a></p>
            </div>
            <form class="am-form-inline" role="form" action="/jdparser" method="post">
                <label>职位描述url(only):</label>
                <input class="am-form-field am-radius" type="url" name="source" style="width:70%" placeholder="input url here" autofocus="True" value={{source}}></input>
                <button type="submit" onclick="get_result()" class="am-btn am-btn-primary" value="提交">submit</button>
            </form>
        </div>

    </div>
    <script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.4.0/js/amazeui.min.js"></script>
</body>
</html>
