<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>技能抽取在线演示</title>
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.4.0/css/amazeui.min.css">
</head>
<body>
    <div class="am-topbar">
    <h1 class="am-active">在线演示</h1>
    </div>
    <div class="am-g">
    <div class="am-u-sm-6 am-u-sm-centered">
		<form action="/output" method = "post">
		<textarea name="source" rows="20" cols="100"></textarea>
		<br/><br />
		<button type="submit" class="am-u-sm-3 am-u-sm-centered am-btn am-btn-success" value="提交">提交</button>
		</form>
    </div>
    <br/>
	<div class='am-u-sm-6 am-u-sm-centered'>
	    
	    <h3>使用说明</h3>
	    <p>粘帖企业招聘信息文本粘贴到文本框，并点击提交按钮。</p>
    </div>
    </div>
    <script src="http://cdn.amazeui.org/amazeui/2.4.0/js/amazeui.min.js"></script>
</body>
</html>
